* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(181, 241, 241) ; */
    scroll-behavior: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100vw;
    background-color: rgb(255 236 141 / 64%);
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    display: inline;
}

.sort {
    display: inline;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.new-book {
    display: flex;
    margin: 10px;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
}

.add, .input-name, .input-price {
    margin-left: 5px;
    margin-bottom: 5px;

}

.add {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border: 1px solid #268a16;
    color: #1d350a;
    text-shadow: 0px 1px 0px #aade7c;
    font-weight: bold;
}

.add:hover {
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
}

.booktable {
    margin: 10px;
    width: 75vw;
    border-spacing: 0;
}

.booktable thead {
    font-weight: bold;
}

.booktable tr {
    height: 10vh;
    background-color: rgb(255, 242, 242);
    opacity: 0.8;
}

.dark {
    background-color: rgb(212, 213, 214);
    opacity: 0.8;
}

.booktable td {
    border-bottom: 1px solid rgba(129, 126, 126, 0.767);
    text-align: center;
    padding: 3px;
    font-weight: bolder;
}

table button {
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    /* padding: 6 px 12px; */
    text-decoration: none;
    font-weight: bolder;
}

.update {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border: 1px solid #268a16;
    color: #23410b;
    text-shadow: 0px 1px 0px #aade7c;
}

.update:hover {
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
}

.delete {
    box-shadow: inset 0px 1px 0px 0px #efabab;
    background: linear-gradient(to bottom, #e44444 5%, #b81111 100%);
    background-color: #e44444;
    border: 1px solid #8a1616;
    color: #550505;
    text-shadow: 0px 1px 0px #de7c7c;
}

.delete:hover {
    background: linear-gradient(to bottom, #b81111 5%, #e44444 100%);
    background-color: #b81111;
}

.read {
    box-shadow: inset 0px 1px 0px 0px #abb2ef;
    background: linear-gradient(to bottom, #4461e4 5%, #111cb8 100%);
    background-color: #444fe4;
    border: 1px solid #161e8a;
    color: #050d55;
    text-shadow: 0px 1px 0px #837cde;
}

.read:hover {
    background: linear-gradient(to bottom, #111cb8 5%, #4461e4 100%);
    background-color: #111cb8;
}

/* table button:active {
	position:relative;
	top:1px;
} */

.pages {
    display: inline;
    /* height: 40px;
    font-size: 25px; */
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}

.shown {
    background-color: rgb(160, 247, 247);
}

.modal {
    width: 40vw;
    height: 90vh;
    position :absolute;
    top: 5vh;
    background-color: rgb(230 206 187 / 71%);
    opacity: 0.95;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.modal h3{
    font-size: 25px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.modal img {
    top: 10%;
    margin: 0.5rem;
}

.close-modal {
    margin: 0.5rem;
    bottom: 30px;
    justify-content: flex-start;
}

.rating {
    display: block;
    justify-content: flex-start;
    margin: 0.5rem;
}

h4 {
    display: inline;
}

.rating button {
    display: inline;
}

button {
    cursor: pointer;
}
